__pycache__/
#images & annotation files but not the file structure itself
data/images/train/*
data/labels/train/*
data/images/ignore/*
data/labels/ignore/*
#all pre-trained models (with the exception of my own once I finish training it)
*.pt